body {
  margin: 0;
  padding: 20px;
  background-color: red;
}
.h1 {
  font-size: 30px;
  margin-left: 55px;
}
label {
  margin-left: 55px;
}
input#label {
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
}
button.submit {
  border-radius: 10px;
  padding: 5px;
  width: 82%;
  margin-left: 55px;
  text-align: center;
}
.inner-form {
  width: 90%;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  margin: 220px auto;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  body {
    height: auto;
    margin: 0;
    padding: 0;
  }
  .inner-form {
    float: left;
    width: 33.33%;
    border-radius: 5px;
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
  }
  .about-parent-container.item2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button.submit {
    width: 73.5%;
    text-align: center;
    margin-left: 30px;
  }
  input#label {
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    margin-left: 30px;
  }
  label,
  .h1 {
    margin-left: 30px;
  }
  div.circle-container {
    width: 100%;
    position: relative;
  }
  .circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    height: 100vh;
    float: right;
  }
  .small {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .medium {
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .large {
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
